In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#load csv into dataframe
df = pd.read_csv("/Users/alexanderfrankow/Desktop/Python/myenv/CSV/SupplyChain.csv")
df = df.drop(df.columns[0], axis=1)
df.set_index(df.columns[0], inplace=True)
df.head(20)

,QI,Machine,PreCheck,NumberPins,BoardID,Price,BoardCategory,MaterialOrigin
ID,,,,,,,,
1,0,3.0,0,22.0,A/5 21171,7.2500,NaN,S
2,1,1.0,1,38.0,PC 17599,71.2833,C85,C
3,1,3.0,1,26.0,STON/O2. 3101282,7.9250,NaN,S
4,1,1.0,1,35.0,113803,53.1000,C123,S
5,0,3.0,0,35.0,373450,8.0500,NaN,S
6,0,3.0,0,NaN,330877,8.4583,NaN,Q
7,0,1.0,0,54.0,17463,51.8625,E46,S
8,0,3.0,0,2.0,349909,21.0750,NaN,S
9,1,3.0,1,27.0,347742,11.1333,NaN,S
10,1,2.0,1,14.0,237736,30.0708,NaN,C
11,1,3.0,1,4.0,PP 9549,16.7000,G6,S
12,1,1.0,1,58.0,113783,26.5500,C103,S
13,0,NaN,0,20.0,A/5. 2151,8.0500,NaN,S
14,0,NaN,0,39.0,347082,31.2750,NaN,S
15,0,3.0,1,14.0,350406,7.8542,NaN,S
16,1,2.0,1,55.0,248706,16.0000,NaN,S
17,0,3.0,0,2.0,382652,29.1250,NaN,Q
18,1,2.0,0,NaN,244373,13.0000,NaN,S
19,0,3.0,1,31.0,345763,18.0000,NaN,S
20,1,3.0,1,NaN,2649,7.2250,NaN,C

In [91]:
print(df.info())
print(f"The Dataframe has {df.shape[0]} observations with {df.shape[1]} columns" )
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   QI              891 non-null    int64
 1   Machine         802 non-null    float64
 2   PreCheck        891 non-null    int64
 3   NumberPins      714 non-null    float64
 4   BoardID         891 non-null    object
 5   Price           880 non-null    float64
 6   BoardCategory   204 non-null    object
 7   MaterialOrigin  889 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 62.6+ KB
None
The Dataframe has 891 observations with 8 columns
               QI     Machine    PreCheck  NumberPins       Price
count  891.000000  802.000000  891.000000  714.000000  880.000000
mean     0.383838    2.301746    0.352413   29.699118   32.332125
std      0.486592    0.836867    0.477990   14.526497   49.964536
min      0.000000    1.000000    0.000000    0.420000    0.000000
25%      0.000000    2.000000    0.000000   20.125000    7.895800
50%      0.000000    3.000000    0.000000   28.000000   14.454200
75%      1.000000    3.000000    1.000000   38.000000   31.068750
max      1.000000    3.000000    1.000000   80.000000  512.329200

In [94]:
df['QI'] = df['QI'].astype('category')
df['PreCheck'] = df['PreCheck'].astype('category')
df['BoardCategory'] = df['BoardCategory'].astype('category')
df['MaterialOrigin'] = df['MaterialOrigin'].astype('category')
df['Machine'] = df['Machine'].astype('category')

In [98]:
nan_summary = df.isnull().sum().to_frame(name='Missing Value')
non_nan_summary = df.notnull().sum().to_frame(name='No Missing Value')
total_rows = len(df)
nan_percentage = (nan_summary / total_rows * 100).round(2)
nan_percentage.columns = ['Relative Missing Values']
contingency_table = pd.concat([nan_summary, non_nan_summary, nan_percentage], axis=1)

print(contingency_table)

            Missing Value  No Missing Value  Relative Missing Values
QI                      0               891                     0.00
Machine                89               802                     9.99
PreCheck                0               891                     0.00
NumberPins            177               714                    19.87
BoardID                 0               891                     0.00
Price                  11               880                     1.23

In [97]:
df = df.drop(df.columns[6], axis=1)
print(df.head())
print(df.info())
print(f"The Dataframe has {df.shape[0]} observations with {df.shape[1]} columns" )
print(df.describe(include='all'))

   QI Machine PreCheck  NumberPins           BoardID    Price
ID
1   0     3.0        0        22.0         A/5 21171   7.2500
2   1     1.0        1        38.0          PC 17599  71.2833
3   1     3.0        1        26.0  STON/O2. 3101282   7.9250
4   1     1.0        1        35.0            113803  53.1000
5   0     3.0        0        35.0            373450   8.0500
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   QI          891 non-null    category
 1   Machine     802 non-null    category
 2   PreCheck    891 non-null    category
 3   NumberPins  714 non-null    float64
 4   BoardID     891 non-null    object
 5   Price       880 non-null    float64
dtypes: category(3), float64(2), object(1)
memory usage: 30.8+ KB
None
The Dataframe has 891 observations with 6 columns
           QI  Machine  PreCheck  NumberPins BoardID       Price
count   891.0    802.0     891.0  714.000000     891  880.000000
unique    2.0      3.0       2.0         NaN     681         NaN
top       0.0      3.0       0.0         NaN  347082         NaN
freq    549.0    438.0     577.0         NaN       7         NaN
mean      NaN      NaN       NaN   29.699118     NaN   32.332125
std       NaN      NaN       NaN   14.526497     NaN   49.964536
min       NaN      NaN       NaN    0.420000     NaN    0.000000
25%       NaN      NaN       NaN   20.125000     NaN    7.895800
50%       NaN      NaN       NaN   28.000000     NaN   14.454200
75%       NaN      NaN       NaN   38.000000     NaN   31.068750
max       NaN      NaN       NaN   80.000000     NaN  512.329200